# Fraud Detection with Amazon SageMaker FeatureStore

Kernel `Python 3 (Data Science)` works well with this notebook.

## Contents
1. [Background](#Background)
1. [Setup SageMaker FeatureStore](#Setup-SageMaker-FeatureStore)
1. [Inspect Dataset](#Inspect-Dataset)
1. [Ingest Data into FeatureStore](#Ingest-Data-into-FeatureStore)
1. [Build_Training_Dataset](#Build-Training-Dataset)
1. [Train_and Deploy_the Model](#Train-and-Deploy-the-Model)
1. [SageMaker FeatureStore At Inference](#SageMaker-FeatureStore-During-Inference)
1. [Cleanup Resources](#Cleanup-Resources)

## Background

Amazon SageMaker FeatureStore is a new SageMaker capability that makes it easy for customers to create and manage curated data for machine learning (ML) development. SageMaker FeatureStore enables data ingestion via a high TPS API and data consumption via the online and offline stores. 

This notebook provides an example for the APIs provided by SageMaker FeatureStore by walking through the process of training a fraud detection model. The notebook demonstrates how the dataset's tables can be ingested into the FeatureStore, queried to create a training dataset, and quickly accessed during inference. 


### Terminology

A **FeatureGroup** is the main resource that contains the metadata for all the data stored in SageMaker FeatureStore. A FeatureGroup contains a list of FeatureDefinitions. A **FeatureDefinition** consists of a name and one of the following data types: a integral, string or decimal. The FeatureGroup also contains an **OnlineStoreConfig** and an **OfflineStoreConfig** controlling where the data is stored. Enabling the online store allows quick access to the latest value for a Record via the GetRecord API. The offline store, a required configuration, allows storage of historical data in your S3 bucket. 

Once a FeatureGroup is created, data can be added as Records. **Records** can be thought of as a row in a table. Each record will have a unique **RecordIdentifier** along with values for all other FeatureDefinitions in the FeatureGroup.

## Setup SageMaker FeatureStore

Let's start by setting up the SageMaker Python SDK and boto client.

In [1]:
# to get the latest sagemaker python sdk
!pip install -U sagemaker

Collecting sagemaker
  Downloading sagemaker-2.16.4.tar.gz (353 kB)
     |████████████████████████████████| 353 kB 19.9 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: attrs in /opt/conda/lib/python3.7/site-packages (from sagemaker) (19.3.0)
Collecting boto3>=1.16.27
  Downloading boto3-1.16.27.tar.gz (97 kB)
     |████████████████████████████████| 97 kB 527 kB/s  eta 0:00:01
Requirement already satisfied, skipping upgrade: google-pasta in /opt/conda/lib/python3.7/site-packages (from sagemaker) (0.2.0)
Requirement already satisfied, skipping upgrade: numpy>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (1.18.1)
Requirement already satisfied, skipping upgrade: protobuf>=3.1 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (3.13.0)
Requirement already satisfied, skipping upgrade: protobuf3-to-dict>=0.1.5 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (0.1.5)
Requirement already satisfied, skipping upgrade: smdebug-rulesconfig==0.1.5 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (0.1.5)
Requirement already satisfied, skipping upgrade: importlib-metadata>=1.4.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (1.5.0)
Requirement already satisfied, skipping upgrade: packaging>=20.0 in /opt/conda/lib/python3.7/site-packages (from sagemaker) (20.1)
Collecting botocore<1.20.0,>=1.19.27
  Downloading botocore-1.19.27-py2.py3-none-any.whl (7.0 MB)
     |████████████████████████████████| 7.0 MB 53.7 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.16.27->sagemaker) (0.10.0)
Requirement already satisfied, skipping upgrade: s3transfer<0.4.0,>=0.3.0 in /opt/conda/lib/python3.7/site-packages (from boto3>=1.16.27->sagemaker) (0.3.3)
Requirement already satisfied, skipping upgrade: six in /opt/conda/lib/python3.7/site-packages (from google-pasta->sagemaker) (1.14.0)
Requirement already satisfied, skipping upgrade: setuptools in /opt/conda/lib/python3.7/site-packages (from protobuf>=3.1->sagemaker) (45.2.0.post20200210)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=1.4.0->sagemaker) (2.2.0)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging>=20.0->sagemaker) (2.4.6)
Requirement already satisfied, skipping upgrade: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.20.0,>=1.19.27->boto3>=1.16.27->sagemaker) (2.8.1)
Requirement already satisfied, skipping upgrade: urllib3<1.27,>=1.25.4; python_version != "3.4" in /opt/conda/lib/python3.7/site-packages (from botocore<1.20.0,>=1.19.27->boto3>=1.16.27->sagemaker) (1.25.8)
Building wheels for collected packages: sagemaker, boto3
  Building wheel for sagemaker (setup.py) ... done
  Created wheel for sagemaker: filename=sagemaker-2.16.4-py2.py3-none-any.whl size=504483 sha256=152857501bd1dacdd11ba4b1856a4fb901e314ad0ec6dc88f267bb0a6f7a28d9
  Stored in directory: /root/.cache/pip/wheels/07/73/d0/992360a44c5f1bd95028209d2121ad15d67e65232128db013c
  Building wheel for boto3 (setup.py) ... done
  Created wheel for boto3: filename=boto3-1.16.27-py2.py3-none-any.whl size=128454 sha256=a03e12c631f12af45dd68a8b8e41978c655aec96cfe5448863eef9db1a0b54a3
  Stored in directory: /root/.cache/pip/wheels/b4/a9/11/02814c7e1582a4a5c310a9e83f2cba503ccd077846b9237743
Successfully built sagemaker boto3
Installing collected packages: botocore, boto3, sagemaker
  Attempting uninstall: botocore
    Found existing installation: botocore 1.19.19
    Uninstalling botocore-1.19.19:
      Successfully uninstalled botocore-1.19.19
  Attempting uninstall: boto3
    Found existing installation: boto3 1.16.19
    Uninstalling boto3-1.16.19:
      Successfully uninstalled boto3-1.16.19
  Attempting uninstall: sagemaker
    Found existing installation: sagemaker 2.9.2
    Uninstalling sagemaker-2.9.2:
      Successfully uninstalled sagemaker-2.9.2
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

awscli 1.18.160 requires botocore==1.19.0, but you'll have botocore 1.19.27 which is incompatible.
Successfully installed boto3-1.16.27 botocore-1.19.27 sagemaker-2.16.4
WARNING: You are using pip version 20.2.4; however, version 20.3 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

In [2]:
import boto3
import sagemaker
from sagemaker.session import Session

print(sagemaker.__version__)

region = boto3.Session().region_name

boto_session = boto3.Session(region_name=region)

sagemaker_client = boto_session.client(service_name='sagemaker', region_name=region)
featurestore_runtime = boto_session.client(service_name='sagemaker-featurestore-runtime', region_name=region)

feature_store_session = Session(
    boto_session=boto_session,
    sagemaker_client=sagemaker_client,
    sagemaker_featurestore_runtime_client=featurestore_runtime
)

2.16.4

#### S3 Bucket Setup For The OfflineStore

SageMaker FeatureStore writes the data in the OfflineStore of a FeatureGroup to a S3 bucket owned by you. To be able to write to your S3 bucket, SageMaker FeatureStore assumes an IAM role which has access to it. The role is also owned by you.
Note that the same bucket can be re-used across FeatureGroups. Data in the bucket is partitioned by FeatureGroup.

Set the default s3 bucket name and it will be referenced throughout the notebook.

In [3]:
# You can modify the following to use a bucket of your choosing
default_s3_bucket_name = feature_store_session.default_bucket()
prefix = 'sagemaker-featurestore-demo'

print(default_s3_bucket_name)

sagemaker-us-east-1-835319576252

Set up the IAM role. This role gives SageMaker FeatureStore access to your S3 bucket. 

<div class="alert alert-block alert-warning">
<b>Note:</b> In this example we use the default SageMaker role, assuming it has both <b>AmazonSageMakerFullAccess</b> and <b>AmazonSageMakerFeatureStoreAccess</b> managed policies. If not, please make sure to attach them to the role before proceeding.
</div>

In [4]:
from sagemaker import get_execution_role

# You can modify the following to use a role of your choosing. See the documentation for how to create this.
role = get_execution_role()
print (role)

arn:aws:iam::835319576252:role/service-role/AmazonSageMaker-ExecutionRole-20191006T135881

## Inspect Dataset

The provided dataset is a synthetic dataset with two tables: identity and transactions. They can both be joined by the `TransactionId` column. The transaction table contains information about a particular transaction such as amount, credit or debit card while the identity table contains information about the user such as device type and browser. The transaction must exist in the transaction table, but might not always be available in the identity table.

The objective of the model is to predict if a transaction is fraudulent or not, given the transaction record.

In [5]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import io

s3_client = boto3.client('s3', region_name=region)

fraud_detection_bucket_name = 'sagemaker-sample-files'
identity_file_key = 'datasets/tabular/fraud_detection/synthethic_fraud_detection_SA/sampled_identity.csv'
transaction_file_key = 'datasets/tabular/fraud_detection/synthethic_fraud_detection_SA/sampled_transactions.csv'

identity_data_object = s3_client.get_object(Bucket=fraud_detection_bucket_name, Key=identity_file_key)
transaction_data_object = s3_client.get_object(Bucket=fraud_detection_bucket_name, Key=transaction_file_key)

identity_data = pd.read_csv(io.BytesIO(identity_data_object['Body'].read()))
transaction_data = pd.read_csv(io.BytesIO(transaction_data_object['Body'].read()))

identity_data = identity_data.round(5)
transaction_data = transaction_data.round(5)

identity_data = identity_data.fillna(0)
transaction_data = transaction_data.fillna(0)

# Feature transformations for this dataset are applied before ingestion into FeatureStore.
# One hot encode card4, card6
encoded_card_bank = pd.get_dummies(transaction_data['card4'], prefix = 'card_bank')
encoded_card_type = pd.get_dummies(transaction_data['card6'], prefix = 'card_type')

transformed_transaction_data = pd.concat([transaction_data, encoded_card_type, encoded_card_bank], axis=1)
# blank space is not allowed in feature name
transformed_transaction_data = transformed_transaction_data.rename(columns={"card_bank_american express": "card_bank_american_express"})

In [6]:
identity_data.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_11,id_12,id_13,id_14,id_15,id_16,id_17,id_18,id_19,id_20
0,2990130,-5,38780.0,0.0,0.0,0.0,-70,0,1,100.0,...,32,80,253,241,260,125,T,F,F,T
1,2990266,-10,69246.0,0.0,0.0,0.0,-67,0,2,100.0,...,47,47,122,33,38,60,T,F,T,F
2,2992553,-45,348819.0,0.0,0.0,0.0,-73,0,0,100.0,...,21,143,268,111,2,135,F,F,T,F
3,2994568,-15,337170.0,0.0,0.0,0.0,-10,1,2,100.0,...,55,127,253,202,135,49,F,F,T,T
4,2994749,-5,680670.0,0.0,0.0,8.0,-1,2,2,100.0,...,52,43,257,7,19,254,F,F,T,T

In [7]:
transformed_transaction_data.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card4,card5,card6,...,N8,N9,card_type_0,card_type_credit,card_type_debit,card_bank_0,card_bank_american_express,card_bank_discover,card_bank_mastercard,card_bank_visa
0,3343087,0,8810855,29.00,12469,360.0,150.0,mastercard,126.0,debit,...,F,T,0,0,1,0,0,0,1,0
1,3307318,0,7955295,107.95,16188,178.0,150.0,mastercard,224.0,debit,...,F,T,0,0,1,0,0,0,1,0
2,3555327,0,15084339,159.95,1825,555.0,150.0,visa,226.0,debit,...,T,F,0,0,1,0,0,0,0,1
3,3310736,0,8017157,159.95,10057,225.0,150.0,mastercard,224.0,debit,...,F,F,0,0,1,0,0,0,1,0
4,3034711,0,1127470,117.00,11444,555.0,150.0,visa,226.0,debit,...,F,F,0,0,1,0,0,0,0,1

## Ingest Data into FeatureStore

In this step we will create the FeatureGroups representing the transaction and identity tables.

#### Define FeatureGroups

In [8]:
from time import gmtime, strftime, sleep

identity_feature_group_name = 'identity-feature-group-' + strftime('%d-%H-%M-%S', gmtime())
transaction_feature_group_name = 'transaction-feature-group-' + strftime('%d-%H-%M-%S', gmtime())

In [9]:
from sagemaker.feature_store.feature_group import FeatureGroup

identity_feature_group = FeatureGroup(name=identity_feature_group_name, sagemaker_session=feature_store_session)
transaction_feature_group = FeatureGroup(name=transaction_feature_group_name, sagemaker_session=feature_store_session)

In [10]:
import time

current_time_sec = int(round(time.time()))

def cast_object_to_string(data_frame):
    for label in data_frame.columns:
        if data_frame.dtypes[label] == 'object':
            data_frame[label] = data_frame[label].astype("str").astype("string")

# cast object dtype to string. The SageMaker FeatureStore Python SDK will then map the string dtype to String feature type.
cast_object_to_string(identity_data)
cast_object_to_string(transformed_transaction_data)

# record identifier and event time feature names
record_identifier_feature_name = "TransactionID"
event_time_feature_name = "EventTime"

# append EventTime feature
identity_data[event_time_feature_name] = pd.Series([current_time_sec]*len(identity_data), dtype="float64")
transformed_transaction_data[event_time_feature_name] = pd.Series([current_time_sec]*len(transaction_data), dtype="float64")

# load feature definitions to the feature group. SageMaker FeatureStore Python SDK will auto-detect the data schema based on input data.
identity_feature_group.load_feature_definitions(data_frame=identity_data); # output is suppressed
transaction_feature_group.load_feature_definitions(data_frame=transformed_transaction_data); # output is suppressed

#### Create FeatureGroups in SageMaker FeatureStore

In [11]:
def wait_for_feature_group_creation_complete(feature_group):
    status = feature_group.describe().get("FeatureGroupStatus")
    while status == "Creating":
        print("Waiting for Feature Group Creation")
        time.sleep(5)
        status = feature_group.describe().get("FeatureGroupStatus")
    if status != "Created":
        raise RuntimeError(f"Failed to create feature group {feature_group.name}")
    print(f"FeatureGroup {feature_group.name} successfully created.")

identity_feature_group.create(
    s3_uri=f"s3://{default_s3_bucket_name}/{prefix}",
    record_identifier_name=record_identifier_feature_name,
    event_time_feature_name=event_time_feature_name,
    role_arn=role,
    enable_online_store=True
)

transaction_feature_group.create(
    s3_uri=f"s3://{default_s3_bucket_name}/{prefix}",
    record_identifier_name=record_identifier_feature_name,
    event_time_feature_name=event_time_feature_name,
    role_arn=role,
    enable_online_store=True
)

wait_for_feature_group_creation_complete(feature_group=identity_feature_group)
wait_for_feature_group_creation_complete(feature_group=transaction_feature_group)

Waiting for Feature Group Creation
Waiting for Feature Group Creation
FeatureGroup identity-feature-group-02-02-21-52 successfully created.
FeatureGroup transaction-feature-group-02-02-21-52 successfully created.

Confirm the FeatureGroup has been created by using the DescribeFeatureGroup and ListFeatureGroups APIs.

In [12]:
identity_feature_group.describe()

{'FeatureGroupArn': 'arn:aws:sagemaker:us-east-1:835319576252:feature-group/identity-feature-group-02-02-21-52',
 'FeatureGroupName': 'identity-feature-group-02-02-21-52',
 'RecordIdentifierFeatureName': 'TransactionID',
 'EventTimeFeatureName': 'EventTime',
 'FeatureDefinitions': [{'FeatureName': 'TransactionID',
   'FeatureType': 'Integral'},
  {'FeatureName': 'id_01', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_02', 'FeatureType': 'Fractional'},
  {'FeatureName': 'id_03', 'FeatureType': 'Fractional'},
  {'FeatureName': 'id_04', 'FeatureType': 'Fractional'},
  {'FeatureName': 'id_05', 'FeatureType': 'Fractional'},
  {'FeatureName': 'id_06', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_07', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_08', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_09', 'FeatureType': 'Fractional'},
  {'FeatureName': 'id_10', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_11', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_12', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_13', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_14', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_15', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_16', 'FeatureType': 'Integral'},
  {'FeatureName': 'id_17', 'FeatureType': 'String'},
  {'FeatureName': 'id_18', 'FeatureType': 'String'},
  {'FeatureName': 'id_19', 'FeatureType': 'String'},
  {'FeatureName': 'id_20', 'FeatureType': 'String'},
  {'FeatureName': 'EventTime', 'FeatureType': 'Fractional'}],
 'CreationTime': datetime.datetime(2020, 12, 2, 2, 21, 52, 666000, tzinfo=tzlocal()),
 'OnlineStoreConfig': {'EnableOnlineStore': True},
 'OfflineStoreConfig': {'S3StorageConfig': {'S3Uri': 's3://sagemaker-us-east-1-835319576252/sagemaker-featurestore-demo'},
  'DisableGlueTableCreation': False,
  'DataCatalogConfig': {'TableName': 'identity-feature-group-02-02-21-52-1606875712',
   'Catalog': 'AwsDataCatalog',
   'Database': 'sagemaker_featurestore'}},
 'RoleArn': 'arn:aws:iam::835319576252:role/service-role/AmazonSageMaker-ExecutionRole-20191006T135881',
 'FeatureGroupStatus': 'Created',
 'CreatedBy': {'UserProfileArn': 'arn:aws:sagemaker:us-east-1:835319576252:user-profile/d-dsxoghy6ztwy/default-1602368497083',
  'UserProfileName': 'default-1602368497083',
  'DomainId': 'd-dsxoghy6ztwy'},
 'LastModifiedBy': {'UserProfileArn': 'arn:aws:sagemaker:us-east-1:835319576252:user-profile/d-dsxoghy6ztwy/default-1602368497083',
  'UserProfileName': 'default-1602368497083',
  'DomainId': 'd-dsxoghy6ztwy'},
 'ResponseMetadata': {'RequestId': '985a1f77-db47-4d1f-988a-71fbae7f0b9e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '985a1f77-db47-4d1f-988a-71fbae7f0b9e',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '2267',
   'date': 'Wed, 02 Dec 2020 02:22:03 GMT'},
  'RetryAttempts': 0}}

In [13]:
transaction_feature_group.describe()

{'FeatureGroupArn': 'arn:aws:sagemaker:us-east-1:835319576252:feature-group/transaction-feature-group-02-02-21-52',
 'FeatureGroupName': 'transaction-feature-group-02-02-21-52',
 'RecordIdentifierFeatureName': 'TransactionID',
 'EventTimeFeatureName': 'EventTime',
 'FeatureDefinitions': [{'FeatureName': 'TransactionID',
   'FeatureType': 'Integral'},
  {'FeatureName': 'isFraud', 'FeatureType': 'Integral'},
  {'FeatureName': 'TransactionDT', 'FeatureType': 'Integral'},
  {'FeatureName': 'TransactionAmt', 'FeatureType': 'Fractional'},
  {'FeatureName': 'card1', 'FeatureType': 'Integral'},
  {'FeatureName': 'card2', 'FeatureType': 'Fractional'},
  {'FeatureName': 'card3', 'FeatureType': 'Fractional'},
  {'FeatureName': 'card4', 'FeatureType': 'String'},
  {'FeatureName': 'card5', 'FeatureType': 'Fractional'},
  {'FeatureName': 'card6', 'FeatureType': 'String'},
  {'FeatureName': 'B1', 'FeatureType': 'Integral'},
  {'FeatureName': 'B2', 'FeatureType': 'Integral'},
  {'FeatureName': 'B3', 'FeatureType': 'Integral'},
  {'FeatureName': 'B4', 'FeatureType': 'Integral'},
  {'FeatureName': 'B5', 'FeatureType': 'Integral'},
  {'FeatureName': 'B6', 'FeatureType': 'Integral'},
  {'FeatureName': 'B7', 'FeatureType': 'Integral'},
  {'FeatureName': 'B8', 'FeatureType': 'Integral'},
  {'FeatureName': 'B9', 'FeatureType': 'Integral'},
  {'FeatureName': 'B10', 'FeatureType': 'Integral'},
  {'FeatureName': 'B11', 'FeatureType': 'Integral'},
  {'FeatureName': 'B12', 'FeatureType': 'Integral'},
  {'FeatureName': 'F1', 'FeatureType': 'Integral'},
  {'FeatureName': 'F2', 'FeatureType': 'Integral'},
  {'FeatureName': 'F3', 'FeatureType': 'Integral'},
  {'FeatureName': 'F4', 'FeatureType': 'Integral'},
  {'FeatureName': 'F5', 'FeatureType': 'Integral'},
  {'FeatureName': 'F6', 'FeatureType': 'Integral'},
  {'FeatureName': 'F7', 'FeatureType': 'Integral'},
  {'FeatureName': 'F8', 'FeatureType': 'Integral'},
  {'FeatureName': 'F9', 'FeatureType': 'Integral'},
  {'FeatureName': 'F10', 'FeatureType': 'Integral'},
  {'FeatureName': 'F11', 'FeatureType': 'Integral'},
  {'FeatureName': 'F12', 'FeatureType': 'Integral'},
  {'FeatureName': 'F13', 'FeatureType': 'Integral'},
  {'FeatureName': 'F14', 'FeatureType': 'Integral'},
  {'FeatureName': 'F15', 'FeatureType': 'Integral'},
  {'FeatureName': 'F16', 'FeatureType': 'Integral'},
  {'FeatureName': 'F17', 'FeatureType': 'Integral'},
  {'FeatureName': 'N1', 'FeatureType': 'String'},
  {'FeatureName': 'N2', 'FeatureType': 'String'},
  {'FeatureName': 'N3', 'FeatureType': 'String'},
  {'FeatureName': 'N4', 'FeatureType': 'String'},
  {'FeatureName': 'N5', 'FeatureType': 'String'},
  {'FeatureName': 'N6', 'FeatureType': 'String'},
  {'FeatureName': 'N7', 'FeatureType': 'String'},
  {'FeatureName': 'N8', 'FeatureType': 'String'},
  {'FeatureName': 'N9', 'FeatureType': 'String'},
  {'FeatureName': 'card_type_0', 'FeatureType': 'Integral'},
  {'FeatureName': 'card_type_credit', 'FeatureType': 'Integral'},
  {'FeatureName': 'card_type_debit', 'FeatureType': 'Integral'},
  {'FeatureName': 'card_bank_0', 'FeatureType': 'Integral'},
  {'FeatureName': 'card_bank_american_express', 'FeatureType': 'Integral'},
  {'FeatureName': 'card_bank_discover', 'FeatureType': 'Integral'},
  {'FeatureName': 'card_bank_mastercard', 'FeatureType': 'Integral'},
  {'FeatureName': 'card_bank_visa', 'FeatureType': 'Integral'},
  {'FeatureName': 'EventTime', 'FeatureType': 'Fractional'}],
 'CreationTime': datetime.datetime(2020, 12, 2, 2, 21, 54, 95000, tzinfo=tzlocal()),
 'OnlineStoreConfig': {'EnableOnlineStore': True},
 'OfflineStoreConfig': {'S3StorageConfig': {'S3Uri': 's3://sagemaker-us-east-1-835319576252/sagemaker-featurestore-demo'},
  'DisableGlueTableCreation': False,
  'DataCatalogConfig': {'TableName': 'transaction-feature-group-02-02-21-52-1606875714',
   'Catalog': 'AwsDataCatalog',
   'Database': 'sagemaker_featurestore'}},
 'RoleArn': 'arn:aws:iam::835319576252:role/service-role/AmazonSageMaker-ExecutionRole-20191006T135881',
 'FeatureGroupStatus': 'Created',
 'CreatedBy': {'UserProfileArn': 'arn:aws:sagemaker:us-east-1:835319576252:user-profile/d-dsxoghy6ztwy/default-1602368497083',
  'UserProfileName': 'default-1602368497083',
  'DomainId': 'd-dsxoghy6ztwy'},
 'LastModifiedBy': {'UserProfileArn': 'arn:aws:sagemaker:us-east-1:835319576252:user-profile/d-dsxoghy6ztwy/default-1602368497083',
  'UserProfileName': 'default-1602368497083',
  'DomainId': 'd-dsxoghy6ztwy'},
 'ResponseMetadata': {'RequestId': '1e14e3dd-9d57-47f6-9e84-f4ec7c4eb92e',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '1e14e3dd-9d57-47f6-9e84-f4ec7c4eb92e',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '3982',
   'date': 'Wed, 02 Dec 2020 02:22:03 GMT'},
  'RetryAttempts': 0}}

In [14]:
sagemaker_client.list_feature_groups() # use boto client to list FeatureGroups

{'FeatureGroupSummaries': [{'FeatureGroupName': 'transaction-feature-group-02-02-21-52',
   'FeatureGroupArn': 'arn:aws:sagemaker:us-east-1:835319576252:feature-group/transaction-feature-group-02-02-21-52',
   'CreationTime': datetime.datetime(2020, 12, 2, 2, 21, 54, 95000, tzinfo=tzlocal()),
   'FeatureGroupStatus': 'Created'},
  {'FeatureGroupName': 'identity-feature-group-02-02-21-52',
   'FeatureGroupArn': 'arn:aws:sagemaker:us-east-1:835319576252:feature-group/identity-feature-group-02-02-21-52',
   'CreationTime': datetime.datetime(2020, 12, 2, 2, 21, 52, 666000, tzinfo=tzlocal()),
   'FeatureGroupStatus': 'Created'}],
 'ResponseMetadata': {'RequestId': '333f7247-6237-432d-b4ff-904aabe3ed16',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '333f7247-6237-432d-b4ff-904aabe3ed16',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '495',
   'date': 'Wed, 02 Dec 2020 02:22:04 GMT'},
  'RetryAttempts': 0}}

#### PutRecords into FeatureGroup

After the FeatureGroups have been created, we can put data into the FeatureGroups by using the PutRecord API. This API can handle high TPS and is designed to be called by different streams. The data from all of these Put requests is buffered and written to S3 in chunks. The files will be written to the offline store within a few minutes of ingestion. For this example, to accelerate the ingestion process, we are specifying multiple workers to do the job simultaneously. It will take ~1min to ingest data to the 2 FeatureGroups, respectively.

In [15]:
identity_feature_group.ingest(
    data_frame=identity_data, max_workers=3, wait=True
)

IngestionManagerPandas(feature_group_name='identity-feature-group-02-02-21-52', sagemaker_session=<sagemaker.session.Session object at 0x7f05e66e0050>, data_frame=     TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  \
0          2990130     -5   38780.0    0.0    0.0    0.0    -70      0      1
1          2990266    -10   69246.0    0.0    0.0    0.0    -67      0      2
2          2992553    -45  348819.0    0.0    0.0    0.0    -73      0      0
3          2994568    -15  337170.0    0.0    0.0    0.0    -10      1      2
4          2994749     -5  680670.0    0.0    0.0    8.0     -1      2      2
..             ...    ...       ...    ...    ...    ...    ...    ...    ...
471        3572028     -5   92780.0    0.0    0.0    0.0    -19      2      1
472        3575285     -5   34477.0    0.0    0.0    0.0    -25      1      0
473        3575848     -5   45284.0    0.0    0.0    3.0    -71      1      0
474        3576043     -5  136520.0    0.0    0.0    0.0     -2      2      1
475        3577009     -5  108350.0    0.0    0.0    1.0    -30      0      0

     id_09  ...  id_12  id_13  id_14  id_15  id_16  id_17  id_18 id_19 id_20  \
0    100.0  ...     80    253    241    260    125      T      F     F     T
1    100.0  ...     47    122     33     38     60      T      F     T     F
2    100.0  ...    143    268    111      2    135      F      F     T     F
3    100.0  ...    127    253    202    135     49      F      F     T     T
4    100.0  ...     43    257      7     19    254      F      F     T     T
..     ...  ...    ...    ...    ...    ...    ...    ...    ...   ...   ...
471  100.0  ...    181    222    197     56    220      T      F     T     F
472  100.0  ...      5    155    259    178    293      T      F     T     T
473  100.0  ...    119    116    170     70    178      T      F     T     F
474  100.0  ...      1    144    129     81    270      F      F     T     F
475  100.0  ...    254    115     21    142    148      T      F     T     T

        EventTime
0    1.606876e+09
1    1.606876e+09
2    1.606876e+09
3    1.606876e+09
4    1.606876e+09
..            ...
471  1.606876e+09
472  1.606876e+09
473  1.606876e+09
474  1.606876e+09
475  1.606876e+09

[476 rows x 22 columns], max_workers=3, _futures={<Future at 0x7f05e4514190 state=finished returned NoneType>: (0, 159), <Future at 0x7f05e4188b50 state=finished returned NoneType>: (159, 318), <Future at 0x7f05e4196610 state=finished returned NoneType>: (318, 476)})

In [16]:
transaction_feature_group.ingest(
    data_frame=transformed_transaction_data, max_workers=5, wait=True
)

IngestionManagerPandas(feature_group_name='transaction-feature-group-02-02-21-52', sagemaker_session=<sagemaker.session.Session object at 0x7f05e66e0050>, data_frame=      TransactionID  isFraud  TransactionDT  TransactionAmt  card1  card2  \
0           3343087        0        8810855          29.000  12469  360.0
1           3307318        0        7955295         107.950  16188  178.0
2           3555327        0       15084339         159.950   1825  555.0
3           3310736        0        8017157         159.950  10057  225.0
4           3034711        0        1127470         117.000  11444  555.0
...             ...      ...            ...             ...    ...    ...
1995        3252738        1        6443158         200.000   6019  583.0
1996        3548960        1       14873644           6.517  10175  176.0
1997        3319928        1        8196787          67.067  14276  177.0
1998        3256349        1        6539367          59.000  14649  548.0
1999        3521091        1       14068731         157.389  15885  545.0

      card3       card4  card5   card6  ...  N9  card_type_0  \
0     150.0  mastercard  126.0   debit  ...   T            0
1     150.0  mastercard  224.0   debit  ...   T            0
2     150.0        visa  226.0   debit  ...   F            0
3     150.0  mastercard  224.0   debit  ...   F            0
4     150.0        visa  226.0   debit  ...   F            0
...     ...         ...    ...     ...  ...  ..          ...
1995  150.0        visa  226.0  credit  ...   F            0
1996  185.0        visa  102.0   debit  ...   F            0
1997  185.0  mastercard  137.0  credit  ...   T            0
1998  150.0        visa  226.0   debit  ...   T            0
1999  185.0        visa  138.0   debit  ...   T            0

      card_type_credit  card_type_debit  card_bank_0  \
0                    0                1            0
1                    0                1            0
2                    0                1            0
3                    0                1            0
4                    0                1            0
...                ...              ...          ...
1995                 1                0            0
1996                 0                1            0
1997                 1                0            0
1998                 0                1            0
1999                 0                1            0

      card_bank_american_express  card_bank_discover  card_bank_mastercard  \
0                              0                   0                     1
1                              0                   0                     1
2                              0                   0                     0
3                              0                   0                     1
4                              0                   0                     0
...                          ...                 ...                   ...
1995                           0                   0                     0
1996                           0                   0                     0
1997                           0                   0                     1
1998                           0                   0                     0
1999                           0                   0                     0

      card_bank_visa     EventTime
0                  0  1.606876e+09
1                  0  1.606876e+09
2                  1  1.606876e+09
3                  0  1.606876e+09
4                  1  1.606876e+09
...              ...           ...
1995               1  1.606876e+09
1996               1  1.606876e+09
1997               0  1.606876e+09
1998               1  1.606876e+09
1999               1  1.606876e+09

[2000 rows x 57 columns], max_workers=5, _futures={<Future at 0x7f05e41b3d50 state=finished returned NoneType>: (0, 400), <Future at 0x7f05e4188150 state=finished returned NoneType>: (400, 800), <Future at 0x7f05e53eb2d0 state=finished returned NoneType>: (800, 1200), <Future at 0x7f05e53dd290 state=finished returned NoneType>: (1200, 1600), <Future at 0x7f05e41aff10 state=finished returned NoneType>: (1600, 2000)})

To confirm that data has been ingested, we can quickly retrieve a record from the online store:

In [17]:
record_identifier_value = str(2990130)

featurestore_runtime.get_record(FeatureGroupName=transaction_feature_group_name, RecordIdentifierValueAsString=record_identifier_value)

{'ResponseMetadata': {'RequestId': '77d65807-ba1a-4db7-abfc-5fe90c68bea9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '77d65807-ba1a-4db7-abfc-5fe90c68bea9',
   'content-type': 'application/json',
   'content-length': '2636',
   'date': 'Wed, 02 Dec 2020 02:22:17 GMT'},
  'RetryAttempts': 0},
 'Record': [{'FeatureName': 'TransactionID', 'ValueAsString': '2990130'},
  {'FeatureName': 'isFraud', 'ValueAsString': '0'},
  {'FeatureName': 'TransactionDT', 'ValueAsString': '152647'},
  {'FeatureName': 'TransactionAmt', 'ValueAsString': '75.0'},
  {'FeatureName': 'card1', 'ValueAsString': '4577'},
  {'FeatureName': 'card2', 'ValueAsString': '583.0'},
  {'FeatureName': 'card3', 'ValueAsString': '150.0'},
  {'FeatureName': 'card4', 'ValueAsString': 'mastercard'},
  {'FeatureName': 'card5', 'ValueAsString': '219.0'},
  {'FeatureName': 'card6', 'ValueAsString': 'credit'},
  {'FeatureName': 'B1', 'ValueAsString': '69'},
  {'FeatureName': 'B2', 'ValueAsString': '80'},
  {'FeatureName': 'B3', 'ValueAsString': '91'},
  {'FeatureName': 'B4', 'ValueAsString': '77'},
  {'FeatureName': 'B5', 'ValueAsString': '9'},
  {'FeatureName': 'B6', 'ValueAsString': '53'},
  {'FeatureName': 'B7', 'ValueAsString': '25'},
  {'FeatureName': 'B8', 'ValueAsString': '16'},
  {'FeatureName': 'B9', 'ValueAsString': '99'},
  {'FeatureName': 'B10', 'ValueAsString': '1'},
  {'FeatureName': 'B11', 'ValueAsString': '7'},
  {'FeatureName': 'B12', 'ValueAsString': '63'},
  {'FeatureName': 'F1', 'ValueAsString': '761'},
  {'FeatureName': 'F2', 'ValueAsString': '679'},
  {'FeatureName': 'F3', 'ValueAsString': '627'},
  {'FeatureName': 'F4', 'ValueAsString': '943'},
  {'FeatureName': 'F5', 'ValueAsString': '772'},
  {'FeatureName': 'F6', 'ValueAsString': '911'},
  {'FeatureName': 'F7', 'ValueAsString': '560'},
  {'FeatureName': 'F8', 'ValueAsString': '563'},
  {'FeatureName': 'F9', 'ValueAsString': '544'},
  {'FeatureName': 'F10', 'ValueAsString': '715'},
  {'FeatureName': 'F11', 'ValueAsString': '967'},
  {'FeatureName': 'F12', 'ValueAsString': '715'},
  {'FeatureName': 'F13', 'ValueAsString': '787'},
  {'FeatureName': 'F14', 'ValueAsString': '871'},
  {'FeatureName': 'F15', 'ValueAsString': '513'},
  {'FeatureName': 'F16', 'ValueAsString': '719'},
  {'FeatureName': 'F17', 'ValueAsString': '626'},
  {'FeatureName': 'N1', 'ValueAsString': 'F'},
  {'FeatureName': 'N2', 'ValueAsString': 'F'},
  {'FeatureName': 'N3', 'ValueAsString': 'F'},
  {'FeatureName': 'N4', 'ValueAsString': 'T'},
  {'FeatureName': 'N5', 'ValueAsString': 'T'},
  {'FeatureName': 'N6', 'ValueAsString': 'T'},
  {'FeatureName': 'N7', 'ValueAsString': 'T'},
  {'FeatureName': 'N8', 'ValueAsString': 'F'},
  {'FeatureName': 'N9', 'ValueAsString': 'F'},
  {'FeatureName': 'card_type_0', 'ValueAsString': '0'},
  {'FeatureName': 'card_type_credit', 'ValueAsString': '1'},
  {'FeatureName': 'card_type_debit', 'ValueAsString': '0'},
  {'FeatureName': 'card_bank_0', 'ValueAsString': '0'},
  {'FeatureName': 'card_bank_american_express', 'ValueAsString': '0'},
  {'FeatureName': 'card_bank_discover', 'ValueAsString': '0'},
  {'FeatureName': 'card_bank_mastercard', 'ValueAsString': '1'},
  {'FeatureName': 'card_bank_visa', 'ValueAsString': '0'},
  {'FeatureName': 'EventTime', 'ValueAsString': '1606875712.0'}]}

The SageMaker Python SDK’s FeatureStore class also provides the functionality to generate Hive DDL commands. Schema of the table is generated based on the feature definitions. Columns are named after feature name and data-type are inferred based on feature type.

In [18]:
print(identity_feature_group.as_hive_ddl())

CREATE EXTERNAL TABLE IF NOT EXISTS sagemaker_featurestore.identity-feature-group-02-02-21-52 (
  TransactionID INT
  id_01 INT
  id_02 FLOAT
  id_03 FLOAT
  id_04 FLOAT
  id_05 FLOAT
  id_06 INT
  id_07 INT
  id_08 INT
  id_09 FLOAT
  id_10 INT
  id_11 INT
  id_12 INT
  id_13 INT
  id_14 INT
  id_15 INT
  id_16 INT
  id_17 STRING
  id_18 STRING
  id_19 STRING
  id_20 STRING
  EventTime FLOAT
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
  STORED AS
  INPUTFORMAT 'parquet.hive.DeprecatedParquetInputFormat'
  OUTPUTFORMAT 'parquet.hive.DeprecatedParquetOutputFormat'
LOCATION 's3://sagemaker-us-east-1-835319576252/sagemaker-featurestore-demo/835319576252/sagemaker/us-east-1/offline-store/identity-feature-group-02-02-21-52'

In [19]:
print(transaction_feature_group.as_hive_ddl())

CREATE EXTERNAL TABLE IF NOT EXISTS sagemaker_featurestore.transaction-feature-group-02-02-21-52 (
  TransactionID INT
  isFraud INT
  TransactionDT INT
  TransactionAmt FLOAT
  card1 INT
  card2 FLOAT
  card3 FLOAT
  card4 STRING
  card5 FLOAT
  card6 STRING
  B1 INT
  B2 INT
  B3 INT
  B4 INT
  B5 INT
  B6 INT
  B7 INT
  B8 INT
  B9 INT
  B10 INT
  B11 INT
  B12 INT
  F1 INT
  F2 INT
  F3 INT
  F4 INT
  F5 INT
  F6 INT
  F7 INT
  F8 INT
  F9 INT
  F10 INT
  F11 INT
  F12 INT
  F13 INT
  F14 INT
  F15 INT
  F16 INT
  F17 INT
  N1 STRING
  N2 STRING
  N3 STRING
  N4 STRING
  N5 STRING
  N6 STRING
  N7 STRING
  N8 STRING
  N9 STRING
  card_type_0 INT
  card_type_credit INT
  card_type_debit INT
  card_bank_0 INT
  card_bank_american_express INT
  card_bank_discover INT
  card_bank_mastercard INT
  card_bank_visa INT
  EventTime FLOAT
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
  STORED AS
  INPUTFORMAT 'parquet.hive.DeprecatedParquetInputFormat'
  OUTPUTFORMAT 'parquet.hive.DeprecatedParquetOutputFormat'
LOCATION 's3://sagemaker-us-east-1-835319576252/sagemaker-featurestore-demo/835319576252/sagemaker/us-east-1/offline-store/transaction-feature-group-02-02-21-52'

Now let's wait for the data to appear in our offline store before moving forward to creating a dataset. This will take approximately 5 minutes.

In [20]:
account_id = boto3.client('sts').get_caller_identity()["Account"]

identity_feature_group_s3_prefix = prefix + '/' + account_id + '/sagemaker/' + region + '/offline-store/' + identity_feature_group_name + '/data'
transaction_feature_group_s3_prefix = prefix + '/' + account_id + '/sagemaker/' + region + '/offline-store/' + transaction_feature_group_name + '/data'

offline_store_contents = None
while (offline_store_contents is None):
    objects_in_bucket = s3_client.list_objects(Bucket=default_s3_bucket_name,Prefix=transaction_feature_group_s3_prefix)
    if ('Contents' in objects_in_bucket and len(objects_in_bucket['Contents']) > 1):
        offline_store_contents = objects_in_bucket['Contents']
    else:
        print('Waiting for data in offline store...\n')
        sleep(60)
    
print('Data available.')

Waiting for data in offline store...

Waiting for data in offline store...

Waiting for data in offline store...

Waiting for data in offline store...

Waiting for data in offline store...

Waiting for data in offline store...

Data available.

SageMaker FeatureStore adds metadata for each record that's ingested into the offline store.

## Build Training Dataset

SageMaker FeatureStore automatically builds the Glue Data Catalog for FeatureGroups (you can optionally turn it on/off while creating the FeatureGroup). In this example, we want to create one training dataset with FeatureValues from both identity and transaction FeatureGroups. This is done by utilizing the auto-built Catalog. We run an Athena query that joins the data stored in the offline store in S3 from the 2 FeatureGroups.

In [21]:
identity_query = identity_feature_group.athena_query()
transaction_query = transaction_feature_group.athena_query()

identity_table = identity_query.table_name
transaction_table = transaction_query.table_name

query_string = 'SELECT * FROM "'+transaction_table+'" LEFT JOIN "'+identity_table+'" ON "'+transaction_table+'".transactionid = "'+identity_table+'".transactionid'
print('Running ' + query_string)

# run Athena query. The output is loaded to a Pandas dataframe.
dataset = pd.DataFrame()
identity_query.run(query_string=query_string, output_location='s3://'+default_s3_bucket_name+'/'+prefix+'/query_results/')
identity_query.wait()
dataset = identity_query.as_dataframe()

dataset

Running SELECT * FROM "transaction-feature-group-02-02-21-52-1606875714" LEFT JOIN "identity-feature-group-02-02-21-52-1606875712" ON "transaction-feature-group-02-02-21-52-1606875714".transactionid = "identity-feature-group-02-02-21-52-1606875712".transactionid

,transactionid,isfraud,transactiondt,transactionamt,card1,card2,card3,card4,card5,card6,...,id_15,id_16,id_17,id_18,id_19,id_20,eventtime.1,write_time.1,api_invocation_time.1,is_deleted.1
0,3555327,0,15084339,159.950,1825,555.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3310736,0,8017157,159.950,10057,225.0,150.0,mastercard,224.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3207251,0,5173433,58.430,8452,524.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3142951,0,3251537,77.000,7826,481.0,150.0,mastercard,224.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3096930,0,2154820,50.000,9337,295.0,150.0,visa,226.0,credit,...,45.0,47.0,F,T,T,T,1.606876e+09,2020-12-02 02:28:01.164,2020-12-02 02:22:08.000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3376865,0,9771011,59.000,16274,331.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,3196415,0,4834225,117.000,16255,470.0,150.0,mastercard,137.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,3232254,0,5844703,947.000,12686,215.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,3206507,0,5159968,82.950,16659,170.0,150.0,visa,226.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,3278260,0,7171205,86.763,9026,545.0,185.0,visa,137.0,credit,...,151.0,131.0,F,F,T,F,1.606876e+09,2020-12-02 02:28:02.014,2020-12-02 02:22:08.000,False

In [22]:
# Prepare query results for training.
query_execution = identity_query.get_query_execution()
query_result = 's3://'+default_s3_bucket_name+'/'+prefix+'/query_results/'+query_execution['QueryExecution']['QueryExecutionId']+'.csv'
print(query_result)

# Select useful columns for training with target column as the first.
dataset = dataset[["isfraud", "transactiondt", "transactionamt", "card1", "card2", "card3", "card5", "card_type_credit", "card_type_debit", "card_bank_american_express", "card_bank_discover", "card_bank_mastercard", "card_bank_visa", "id_01", "id_02", "id_03", "id_04", "id_05"]]

# Write to csv in S3 without headers and index column.
dataset.to_csv('dataset.csv', header=False, index=False)
s3_client.upload_file('dataset.csv', default_s3_bucket_name, prefix+'/training_input/dataset.csv')
dataset_uri_prefix = 's3://'+default_s3_bucket_name+'/'+prefix+'/training_input/';

dataset

s3://sagemaker-us-east-1-835319576252/sagemaker-featurestore-demo/query_results/dc69b294-2db3-42b2-b54a-576adef671da.csv

,isfraud,transactiondt,transactionamt,card1,card2,card3,card5,card_type_credit,card_type_debit,card_bank_american_express,card_bank_discover,card_bank_mastercard,card_bank_visa,id_01,id_02,id_03,id_04,id_05
0,0,15084339,159.950,1825,555.0,150.0,226.0,0,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN
1,0,8017157,159.950,10057,225.0,150.0,224.0,0,1,0,0,1,0,NaN,NaN,NaN,NaN,NaN
2,0,5173433,58.430,8452,524.0,150.0,226.0,0,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN
3,0,3251537,77.000,7826,481.0,150.0,224.0,0,1,0,0,1,0,NaN,NaN,NaN,NaN,NaN
4,0,2154820,50.000,9337,295.0,150.0,226.0,1,0,0,0,0,1,0.0,215878.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,9771011,59.000,16274,331.0,150.0,226.0,0,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN
1996,0,4834225,117.000,16255,470.0,150.0,137.0,1,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
1997,0,5844703,947.000,12686,215.0,150.0,226.0,0,1,0,0,0,1,NaN,NaN,NaN,NaN,NaN
1998,0,5159968,82.950,16659,170.0,150.0,226.0,1,0,0,0,0,1,NaN,NaN,NaN,NaN,NaN
1999,0,7171205,86.763,9026,545.0,185.0,137.0,1,0,0,0,0,1,-5.0,120056.0,0.0,0.0,-27.0

## Train and Deploy the Model

Now it's time to launch a Training job to fit our model.

In [28]:
training_output_path = 's3://'+default_s3_bucket_name+'/'+prefix+'/training_output'
training_image = '683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-xgboost:1.0-1-cpu-py3'

Create an `Estimator` object. This estimator will launch the training job.

In [29]:
from sagemaker.estimator import Estimator

training_model = Estimator(training_image,
                           role, 
                           instance_count=1, 
                           instance_type='ml.m5.2xlarge',
                           volume_size = 5,
                           max_run = 3600,
                           input_mode= 'File',
                           output_path=training_output_path,
                           sagemaker_session=feature_store_session)

In [30]:
training_model.set_hyperparameters(objective = "binary:logistic",
                                   num_round = 50)

Specify training dataset, which is the dataset we created above.

In [31]:
import sagemaker.inputs

train_data = sagemaker.inputs.TrainingInput(dataset_uri_prefix, distribution='FullyReplicated', 
                                            content_type='text/csv', s3_data_type='S3Prefix')
data_channels = {'train': train_data}

In [32]:
training_model.fit(inputs=data_channels, logs=True)

2020-12-02 02:38:20 Starting - Starting the training job...
2020-12-02 02:38:22 Starting - Launching requested ML instances.........
2020-12-02 02:39:52 Starting - Preparing the instances for training......
2020-12-02 02:41:01 Downloading - Downloading input data...
2020-12-02 02:41:50 Training - Training image download completed. Training in progress.
2020-12-02 02:41:50 Uploading - Uploading generated training model
2020-12-02 02:41:50 Completed - Training job completed
INFO:sagemaker-containers:Imported framework sagemaker_xgboost_container.training
INFO:sagemaker-containers:Failed to parse hyperparameter objective value binary:logistic to Json.
Returning the value itself
INFO:sagemaker-containers:No GPUs detected (normal if no gpus installed)
INFO:sagemaker_xgboost_container.training:Running XGBoost Sagemaker in algorithm mode
INFO:root:Determined delimiter of CSV input is ','
INFO:root:Determined delimiter of CSV input is ','
[02:41:42] 2000x17 matrix with 32476 entries loaded from /opt/ml/input/data/train?format=csv&label_column=0&delimiter=,
INFO:root:Single node training.
INFO:root:Train matrix has 2000 rows
[02:41:42] WARNING: /workspace/src/learner.cc:328:
Parameters: { num_round } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]#011train-error:0.03050
[1]#011train-error:0.02950
[2]#011train-error:0.02800
[3]#011train-error:0.02600
[4]#011train-error:0.02600
[5]#011train-error:0.02500
[6]#011train-error:0.02350
[7]#011train-error:0.02400
[8]#011train-error:0.02250
[9]#011train-error:0.02200
[10]#011train-error:0.02200
[11]#011train-error:0.02050
[12]#011train-error:0.02000
[13]#011train-error:0.02000
[14]#011train-error:0.02050
[15]#011train-error:0.02000
[16]#011train-error:0.01950
[17]#011train-error:0.01850
[18]#011train-error:0.01750
[19]#011train-error:0.01800
[20]#011train-error:0.01800
[21]#011train-error:0.01550
[22]#011train-error:0.01500
[23]#011train-error:0.01550
[24]#011train-error:0.01500
[25]#011train-error:0.01450
[26]#011train-error:0.01400
[27]#011train-error:0.01250
[28]#011train-error:0.01300
[29]#011train-error:0.01250
[30]#011train-error:0.01300
[31]#011train-error:0.01150
[32]#011train-error:0.01100
[33]#011train-error:0.00950
[34]#011train-error:0.00900
[35]#011train-error:0.00850
[36]#011train-error:0.00850
[37]#011train-error:0.00700
[38]#011train-error:0.00750
[39]#011train-error:0.00750
[40]#011train-error:0.00750
[41]#011train-error:0.00750
[42]#011train-error:0.00700
[43]#011train-error:0.00600
[44]#011train-error:0.00550
[45]#011train-error:0.00500
[46]#011train-error:0.00500
[47]#011train-error:0.00450
[48]#011train-error:0.00400
[49]#011train-error:0.00400
Training seconds: 49
Billable seconds: 49

## Set up Hosting for the Model

Once the training is done, we can deploy the trained model as an Amazon SageMaker real-time hosted endpoint. This will allow us to make predictions (or inference) from the model. Note that we don't have to host on the same instance (or type of instance) that we used to train. The endpoint deployment can be accomplished as follows. This takes 8-10 minutes to complete.

In [33]:
predictor = training_model.deploy(initial_instance_count = 1, instance_type = 'ml.m5.xlarge')

-------------!

## SageMaker FeatureStore During Inference

SageMaker FeatureStore can be useful in supplementing data for inference requests because of the low-latency GetRecord functionality. For this demo, we will be given a TransactionId and query our online FeatureGroups for data on the transaction to build our inference request.

In [34]:
# Incoming inference request.
transaction_id = str(3450774)

# Helper to parse the feature value from the record.
def get_feature_value(record, feature_name):
    return str(list(filter(lambda r: r['FeatureName'] == feature_name, record))[0]['ValueAsString'])

transaction_response = featurestore_runtime.get_record(FeatureGroupName=transaction_feature_group_name, RecordIdentifierValueAsString=transaction_id)
transaction_record = transaction_response['Record']

transaction_test_data = [
    get_feature_value(transaction_record, 'TransactionDT'),
    get_feature_value(transaction_record, 'TransactionAmt'),
    get_feature_value(transaction_record, 'card1'),
    get_feature_value(transaction_record, 'card2'),
    get_feature_value(transaction_record, 'card3'),
    get_feature_value(transaction_record, 'card5'),
    get_feature_value(transaction_record, 'card_type_credit'),
    get_feature_value(transaction_record, 'card_type_debit'),
    get_feature_value(transaction_record, 'card_bank_american_express'),
    get_feature_value(transaction_record, 'card_bank_discover'),
    get_feature_value(transaction_record, 'card_bank_mastercard'),
    get_feature_value(transaction_record, 'card_bank_visa')
]

identity_response = featurestore_runtime.get_record(FeatureGroupName=identity_feature_group_name, RecordIdentifierValueAsString=transaction_id)
identity_record = identity_response['Record']
id_test_data = [
    get_feature_value(identity_record, 'id_01'),
    get_feature_value(identity_record, 'id_02'),
    get_feature_value(identity_record, 'id_03'),
    get_feature_value(identity_record, 'id_04'),
    get_feature_value(identity_record, 'id_05')
]

# Join all pieces for inference request.
inference_request = []
inference_request.extend(transaction_test_data[:])
inference_request.extend(id_test_data[:])

inference_request

['11923451',
 '50.0',
 '12501',
 '490.0',
 '150.0',
 '226.0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '1',
 '-40',
 '20130.0',
 '0.0',
 '0.0',
 '16.0']

In [35]:
import json

results = predictor.predict(','.join(inference_request), initial_args = {"ContentType": "text/csv"})
prediction = json.loads(results)
print (prediction)

0.8026058077812195

## Cleanup Resources

In [ ]:
predictor.delete_endpoint()

In [ ]:
identity_feature_group.delete()
transaction_feature_group.delete()